<!-- homepage after login -->
<% include("partials/header") %>
<h1>Welcome to Roommee <%= userName %></h1>
<h3><i>Developed by <b>Paradigm</b></i></h3>

<!-- link to see or change your profile -->
<form action="/user-profile/<%=userID%>" method='GET'>
    <label>Click here to see or change your profile</label>
    <button>User Profile</button>
</form>

<!-- link to see, create or change your questionaire -->
<form action="/user-questionaire/<%=userID%>" method='GET'>
    <label>Click here to see or change your questionaire answer</label>
    <button>User Questionaire</button>
</form>

<!-- link to get a match-->
<form action="/user-match/<%=userID%>" method='GET'>
    <label>Click here to get your Roommee match</label>
    <button>Match Roommee</button>
</form>

<form action="/user-match/status/<%=userID%>" method='GET'>
    <label>Click here to get your match status</label>
    <button>Status Roommee</button>
</form>

<form action="/" method='GET'>
    <button>logout</button>
</form>


<% include("partials/footer") %>