<% include("partials/header") %>
<h1>My Profile</h1>
<h4>First Name: <%=userProf.firstName%> </h4>
<h4>Surname: <%=userProf.lastName%> </h4>
<h4>Age: <%=userProf.age%> </h4>
<h4>Gender: <%=userProf.gender%> </h4>
<h4>Nationality: <%=userProf.nationality%> </h4>
<h4>Hobby: <%=userProf.hobby%> </h4>
<h4>Language: <%=userProf.language%> </h4>
<h4>Find a place to stay in (suburb): <%=userProf.preferStay%></h4>
<!-- redirected to update page -->
<form action="/update-user-profile/<%= userProf.id %>" method='POST'>
    <p>Do you want to make some changes on your profile?</p>
    <button>yes</button>
</form>
<!-- go back to home page -->
<form action='/login-homepage/<%=userProf.id%>' method='GET'>
    <button>no</button>
</form>
<% include("partials/footer") %>