<% include("partials/header") %>

<h1>Match Roommee</h1>
<p><i>These profiles has been sorted from the closest to least match</i></p>
<h3>Profile</h3>
<ol>
<% sortedMatchUser.forEach(function(matchUser){ %>
    <li>Name: <%=matchUser.firstName+" "+matchUser.lastName%></li>
    <ul>
        <li>Gender: <%=matchUser.gender%></li>
        <li>Nationality: <%=matchUser.nationality%></li>
        <li>Hobby: <%=matchUser.hobby%></li>
        <li>Language: <%=matchUser.language%></li>
        <li>Find a place to stay in: <%=matchUser.preferStay%></li>
    </ul>
    <form action="/chat" method="GET">
        <button>Chat Roommee</button>
    </form>
<%})%>
</ol>

<!-- Go back to home -->
<form action="/login-homepage/<%=idUser%>" method='GET'>
    <!-- name here is used for the name attribute in the object-->
    <button>Back</button>
</form>

<% include("partials/footer") %>